---
title: Sunny's
---

<div class="welcome text-center padded">
  <div class="intro-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= image_path 'cups.jpg'%>)">
  <h1>SUNNY'S</h1>
  <br>
  <p style="font-size: 20px">A local coffee shop in Falls Church</p>
  </div>
  <br>
  <div class="location-card">
  <h3>Location:</h3>
  <p>Located inside of the Vestry Hotel in Falls Church, Virginia.</p>
  <p><b>421 West Broad Street, Falls Church, VA 22046, USA</b></p>
  </div>
  <br>
  <div class="hours-card">
  <h3>Hours of Operation:</h3>
  <p>Monday - Friday: <b>7am - 8pm</b></p>
  <!-- <p>Tuesday: 7am - 8pm</p>
  <p>Wednesday: 7am - 6pm</p>
  <p>Thursday: 7am - 8pm</p>
  <p>Friday: 7am - 8pm</p> -->
  <p>Saturday: <b>9am - 8pm</b></p>
  <p>Sunday: <b>10am - 6pm</b></p>
  </div>
  <!-- <h1>You're <a href="https://www.lewagon.com">Le Wagon</a>'s boilerplate!</h1> -->
  <!-- <p class="doc"> -->
    <%#= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  <!-- </p> -->
</div>
